{% comment %} <div class="card text-center">
    <div class="card-header">
      <h5>{{ city }}</h5>
    </div>
    <div class="card-body">
      <p class="card-title"><img class="weather-icon" src="https://api.openweathermap.org/img/w/{{ icon }}.png" width="100px"></p>
      <p class="card-text">{{ description }}</p>
      <p class="card-text">{{ temp }} | <i class="fa-solid fa-temperature-low"></i></p>
    </div>
    <div class="card-footer text-body-secondary">
      {{ day }}
    </div>
  </div> {% endcomment %}