{% load static %}

<div class="card mb-3">
    
  
    {% if post.image.url|slice:"-4:" == ".mp4" %}
    <video controls class="card-img-top img-fluid">
        <source src="{{ post.image.url }}" type="video/mp4">
        Tarayıcınız video etiketini desteklemiyor.
    </video>
    {% else %}
      <img src="{{ post.image.url }}" class="card-img-top img-fluid" alt="...">
    {% endif %}



    <div class="card-body">
      <p><a href="{% url 'user_profile' user.id %}">{{ user.username }}</a></p>
      <hr>
      <p class="card-text">{{ post.description }}</p>
      
      
      
      {% comment %} <button class="btn btn-outline-danger"><i class="fa-regular fa-heart fa-sm"></i></button>
      <button class="btn btn-outline-danger"><i class="fa-regular fa-comment fa-sm"></i></button>

      <!--go to post detail button-->
      {% if user.is_authenticated %}
        <a href="{% url 'post_detail' post.id %}" class="btn btn-outline-success">Gönderiye git</a>
      {% endif %}
      {% endcomment %}



      <div class="row">
        <div class="col-sm-12 d-flex justify-content-start mb-2">

          <!--like-->
          <form action="{% url 'like-post' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{post.id}}">
            {% if user.is_authenticated %}
              {% if user not in post.liked.all %}
                <button class="btn btn-outline-danger"><i class="fa-regular fa-heart"></i></button>&nbsp;
              {% else %}
                <button class="btn btn-outline-danger active"><i class="fa-regular fa-heart"></i></button>&nbsp;
              {% endif %}
            {% endif %}
          </form>



          <!--comment-->
          <a href="{% url 'add_comment' post.id %}" class="btn btn-outline-danger"><i class="fa-regular fa-comment"></i></a>&nbsp;
          <!--comment end-->



          <!--go to post detail button-->
          <a href="{% url 'post_detail' post.id %}" class="btn btn-outline-success">Gönderiye git</a>&nbsp;
        
        
        
          <!--post delete-->
          <a href="{% url 'post_delete' post.id %}" type="button" class="btn btn-outline-warning"><i class="fa-regular fa-trash-can"></i></a>
          <!--post delete end-->

        </div>
      </div>


      <strong style="font-size:14px">{{ post.liked.all.count }} beğeni</strong> &nbsp; <strong>{{ post.comments.all.count }} yorum</strong>



      <hr>
      <p class="card-text"><small class="text-body-secondary">{{ post.date }}</small></p>
    </div>
  </div>